{% extends 'pays/base_pays.html' %}


{% block title %}
    Платежи
{% endblock %}

{% block content %}
    <h1>Тестовое задание</h1>
    <h2>Графическое представление данных о платежах</h2>
    <hr>
    <div >
        <p><b>Задание:</b><br></p>
        <ul>
            <li>Создать базу данных для хранения ранее описанной информации. Типы данных должны быть выбраны соответствующим образом.</li>
            <li>Разработать одностраничное web-приложение для графической визуализации зависимости величины платежа от даты поступления платежа. Дополнительно на странице должна быть расположена кнопка по нажатию на которую график зависимости заменяется гистограммой, иллюстрирующей величины платежей и наименование (фамилию и имя) плательщиков.</li>
        </ul>
        <hr>
            <!--<h2>Здесь будет график</h2>-->
            <button class="d-none" id="btn-line" onclick="line();" >График</button>
            <button id="btn-gist" onclick="gist();">Гистограмма</button>

            <div id="container" alt="Тут должен быть график или диаграмма"></div>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script>
                function line()
                {
                    document.getElementById('btn-line').className = 'd-none';
                    document.getElementById('btn-gist').style.display = 'block';
                    Highcharts.chart('container', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Amounts & Dates'
                        },
                        xAxis: {
                            categories: [
                                {% for entry in payments %}
                                '{{ entry.pay_date }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                            ]
                        },
                        series: [{
                            name: 'Amount',
                            tooltip: {
                            valueDecimals: 2
                            },

                            data:
                            [
                                {% for entry in payments %}{{ entry.amount }}{% if not forloop.last %}, {% endif %}{% endfor %}
                            ],
                            color: 'green'
                        }]

                    });
                }
            </script>

            <script>
                function gist()
                {
                    document.getElementById('btn-gist').style.display = 'none';
                    document.getElementById('btn-line').className = 'd-block';
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Amounts & Payers'
                        },
                        xAxis: {
                            categories: [
                                {% for entry in payers %}
                                '{{ entry.last_name }} {{ entry.first_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                            ]
                        },
                        series: [{
                            name: 'Amount',
                            tooltip: {
                                valueDecimals: 2
                            },
                            data:
                            [
                                {% for entry in payments %}{{ entry.amount }}{% if not forloop.last %}, {% endif %}{% endfor %}
                            ],
                            color: 'red'
                        }]

                    });
                }
            </script>

    </div>



{% endblock %}