{% extends 'pays/base_pays.html' %}


{% block title %}
    Платежи
{% endblock %}

{% block content %}
    <h1>Тестовое задание</h1>
    <h2>Графическое представление данных о платежах</h2>
    <hr>
    <p><b>Задание:</b><br></p>
    <ul>
        <li>Создать базу данных для хранения ранее описанной информации. Типы данных должны быть выбраны соответствующим образом.</li>
        <li>Разработать одностраничное web-приложение для графической визуализации зависимости величины платежа от даты поступления платежа. Дополнительно на странице должна быть расположена кнопка по нажатию на которую график зависимости заменяется гистограммой, иллюстрирующей величины платежей и наименование (фамилию и имя) плательщиков.</li>
    </ul>
    <hr>
    <!--{% for test in tests %}-->
        <!--<p>-->
            <!--{{ test.title }}-->
        <!--</p>-->
    <!--{% endfor %}-->

    {% for payer in payers %}
        <p>
            {{ payer.country }}
        </p>
    {% endfor %}


{% endblock %}